@import '../../../vars';

*{
    margin: 0;
    padding: 0;
    max-width: 428px;
    height: auto;
    box-sizing: border-box;
    @include breakpoint(w414){
        max-width: 414px;
    }
    @include breakpoint(w393){
        max-width: 393px;
    }
    @include breakpoint(w375){
        max-width: 375px;
    }
    @include breakpoint(w360){
        max-width: 360px;
    }
    @include breakpoint(w320){
        max-width: 320px;
    }
}




.korobka_service{
  width: 100%;
  height: auto;
  position: absolute;
  background: rgba(255, 255, 255, 1);
  display: flex;
flex-direction: column;
.logout{
    display: none;
}

}
.div_about_text{
    // padding: 16px;
    position: relative;
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    height: auto;
    // left: 16px;
    top: 100px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    // border: solid 1px blue;
}
.oracle{
    position: relative;
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    height: 40vh;
    top: 100px;
    // bottom: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    opacity: 0.55;
    // border: solid 1px red;
    justify-content:center ;
}