@import '../../../vars';

*{
    margin: 0;
    padding: 0;
    max-width: 428px;
    box-sizing: border-box;
    @include breakpoint(w414){
        max-width: 414px;
    }
    @include breakpoint(w393){
        max-width: 393px;
    }
    @include breakpoint(w375){
        max-width: 375px;
    }
    @include breakpoint(w360){
        max-width: 360px;
    }
    @include breakpoint(w320){
        max-width: 320px;
    }
}
.korobka_faq{
    width: 100%;
    min-height: 100vh;
    height: auto;
    overflow: hidden;
    position: relative;
    background: #F9F9FF; 
}
.faq_body{
    width: 100%;
    position: relative;
    top: 84px;
    height: auto;
    // background: #F9F9FF; 
}
.div_btns_faq{
    position: relative;
    width: 100%;
    height: auto;
    padding: 16px;
    // top: 84px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    // border: solid 1px red;
}

.div_faqs{
    cursor: pointer;
    width: 48%;
    height: 54px;
    // display:inline-flex;
    // flex-wrap: wrap;
    // padding: 8px;
    // background: #ffffff;
    // border-radius: 16px;
    margin-bottom: 16px;
    // border: solid 1px red;
    .lbl{
        cursor: pointer;
        background: none;
        width: 100%;
        height: 54px;
        align-items: center;
        border-radius: 16px;
        position: relative;
        padding-left: 4px;
        display: inline-flex;
        text-align: center;
        justify-content: center;
        // border: solid 0.1px red;
        // z-index: 1000;
        background: #FFFFFF;
        box-shadow: -5px 5px 10px rgba(220, 220, 220, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(220, 220, 220, 0.4);
        // opacity: 0.5;
        margin-bottom: 16px;
        .fon_svg{
            width: 38px;
            height: 38px;
            position: relative;
            background: #F9F9FF;
            padding-top: 10px;
            border-radius: 8px;
            margin-right: 8px;
            .svg {
                position: relative;
                z-index: 100;
                color: #000000;
                opacity: 0.5;
                // right: 195px;
        }
        }
    
    .div_txt_func{
                    width: 70%;
                    height: 38px;
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    // border: solid 1px red;
                    h3{
                        width: 100%;
                        height: 16px;
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 16px;
                        color: #0D121F;
                        margin-bottom: 8px;
                        @include breakpoint(w320){
                            font-size: 12px;
                            line-height: 14px;
                        }
                    }
                    p{
                        width: 100%;
                        height: 14px;
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 14px;
                        color: #0D121F;
                        opacity: 0.5;
                    }
                }
    
             }
}

         .btns {
            opacity: 0.001;
            width: 190px;
            height: 40px;
            position: absolute;
            &:checked + label {
                border: 1px solid #FFE400;
                .fon_svg{
                    background: #FFE400;
                    .svg{
                        opacity: 1;
                    }
                }
    
            }
    
        }
        .div_faqs2{
            cursor: pointer;
            width: 100%;
            height: 54px;
            .lbl2{
                cursor: pointer;
                background: none;
                width: 100%;
                height: 54px;
                align-items: center;
                border-radius: 16px;
                position: relative;
                padding-left: 8px;
                display: inline-flex;
                text-align: center;
                justify-content: start;
                // border: solid 0.1px red;
                // z-index: 1000;
                background: #FFFFFF;
                box-shadow: -5px 5px 10px rgba(220, 220, 220, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(220, 220, 220, 0.4);
                // opacity: 0.5;
                margin-bottom: 16px;
                .fon_svg{
                    width: 38px;
                    height: 38px;
                    position: relative;
                    background: #F9F9FF;
                    padding-top: 10px;
                    border-radius: 8px;
                    margin-right: 8px;
                    .svg {
                        position: relative;
                        z-index: 100;
                        color: #000000;
                        opacity: 0.5;
                        // right: 195px;
                }
                }
            
            .div_txt_func{
                            width: 70%;
                            height: 38px;
                            display: flex;
                            flex-direction: column;
                            text-align: left;
                            // border: solid 1px red;
                            h3{
                                width: 100%;
                                height: 16px;
                                font-family: 'Roboto', sans-serif;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 16px;
                                color: #0D121F;
                                margin-bottom: 8px;
                                @include breakpoint(w320){
                                    font-size: 12px;
                                    line-height: 14px;
                                }
                            }
                            p{
                                width: 100%;
                                height: 14px;
                                font-family: 'Roboto', sans-serif;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 14px;
                                color: #0D121F;
                                opacity: 0.5;
                            }
                        }
            
                     }
        }

.div_list_quest_answ{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 16px;
    .div_t{
        flex-direction: row;
        align-items: flex-start;
        padding: 8px;
        width: 100%;
        height: 32px;
        background: #F9F9FF;
        box-shadow: inset 0px -1px 0px rgba(49, 49, 49, 0.25);
        // border: solid 1px rgb(21, 206, 33);
        h1{
            width: 232px;
            height: 16px;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            text-transform: uppercase;
            color: #000000;
            opacity: 0.2;
        }

    }
}