@import '../../vars';
$wh_: calc(428px/926px);
$w_: 428px;
$h_: 926px;
*{
    margin: 0;
    padding: 0;
    max-width: 428px;
    // max-height: 932;
    box-sizing: border-box;
    @include breakpoint(w414){
        max-width: 414px;
    }
    @include breakpoint(w393){
        max-width: 393px;
    }
    @include breakpoint(w375){
        max-width: 375px;
    }
    @include breakpoint(w360){
        max-width: 360px;
    }
    @include breakpoint(w320){
        max-width: 320px;
    }
}
.news_container{
    margin-top: auto;
    width: 100%;
    height: 100vh;
    position: absolute ;
    background: #F9F9FF;
    // border: solid 1px red;

.under_head{
    width: 100%;
    height: 48px;
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: start;
    padding-top: 16px;

    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    top: 100px;

}
.logout{
    display: none;
}
.div_news{
    width: 100%;
height: auto;
    padding: 16px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    top: 100px;
    // border: solid 1px rgb(22, 90, 173);
    .div_new{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        width: 100%;
        height: auto;
        background: #ffffff;
        box-shadow: -5px 5px 10px rgba(220, 220, 220, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(220, 220, 220, 0.4);
        border-radius: 16px;
        // border: solid 1px red;
        overflow: hidden;
        p{
            display: none;
        }
        h3{
            padding: 12px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #0D121F;
            opacity: 0.8;
        }
        h6{
            width: 372px;
            height: 144px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #0D121F;
            opacity: 0.5;
            padding: 12px;
        }
    }
}
}