
// .pin_div{
//     width: 75vw;
//     height: 48px;
//     position: absolute;
//     top: 320px;
//     border: solid 1px red;
// }
.pin_code_div{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 75vw;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 12px;
    // border: solid 1px blue;

}
.pin_code_inp{
    width: 14vw;
    height: 16px;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #0D121F;
    border: none;
    // border: solid 1px red;
}
