@import '../../../vars';

*{
    margin: 0;
    padding: 0;
    max-width: 428px;
    box-sizing: border-box;
    @include breakpoint(w414){
        max-width: 414px;
    }
    @include breakpoint(w393){
        max-width: 393px;
    }
    @include breakpoint(w375){
        max-width: 375px;
    }
    @include breakpoint(w360){
        max-width: 360px;
    }
    @include breakpoint(w320){
        max-width: 320px;
    }
}

.korobka_security{
    width: 100%;
    min-height: 100%;
    // height: auto;
    overflow: hidden;
    position: absolute;
    background: #F9F9FF;
}
.body_security{
    width: 100%;
    min-height: 100%;
    padding: 16px;
    // overflow: hidden;
    position: relative;
    top: 84px;
    .two_factor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px;
        width: 100%;
        height: 580px;
        background: #FFFFFF;
        margin-bottom: 16px;
        h3{
            width: 100%;
            height: 19px;
            font-family: 'Roboto',sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #000000;
            margin-bottom: 16px;
        }
        h4{
            width: 100%;
            height: 32px;
            font-family: 'Roboto',sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #111111;
            opacity: 0.5;
            margin-bottom: 16px;
        }
        img{
            width: 188px;
            height: 188px;
            margin-bottom: 16px;
        }
        h5{
            width: 100%;
            height: 80px;
            font-family: 'Roboto',sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            display: flex;
            align-items: center;
            color: #111111;
            opacity: 0.5;
            margin-bottom: 16px;
        }
        h1{
            width: 100%;
            height: 23px;
            font-family: 'Roboto',sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            color: #111111;
            margin-bottom: 16px;
        }
        .btn_copycode{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 12px;
            gap: 10px;
            width: 100%;
            height: 40px;
            background: #FFFFFF;
            border: 1px dashed #ABABAB;
            border-radius: 8px;
            margin-bottom: 16px;

            font-family: 'Roboto',sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #0D121F;
        }
        p{
            width: 100%;
            height: 14px;
            font-family: 'Roboto',sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #0D121F;
            justify-content: start;
            margin-bottom: 8px;
        }
        .inp_security_code{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 16px;
            width: 100%;
            height: 48px;
            background: #FFFFFF;
            border: 1px solid #CCCCCC;
            border-radius: 12px;
        }
    }
    // .btn_vkl{

    // }
}