@import '../vars';
$wh_: calc(428px/926px);
$w_: 428px;
$h_: 926px;

*{
    margin: 0;
    padding: 0;
    max-width: 428px;
    // max-height: 932;
    box-sizing: border-box;
    @include breakpoint(w414){
        max-width: 414px;
    }
    @include breakpoint(w393){
        max-width: 393px;
    }
    @include breakpoint(w375){
        max-width: 375px;
    }
    @include breakpoint(w360){
        max-width: 360px;
    }
    @include breakpoint(w320){
        max-width: 320px;
    }
}
.register_container{
    margin-top: auto;
    width: 100%;
    position: absolute ;
    @include breakpoint(w414){
        width: 414px;
    }
    .B_foto{
        position: relative;
        @include breakpoint(w414){
            width: 414px;
        }
    }

.register_head{
    width: 100%;
    height: 36px;
    background: rgba(255, 255, 255, 0.01);
    // border: solid 0.1px red;
}
.under_head{
    width: 100%;
    height: 48px;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding-top: 16px;
    // border: solid 0.1px red;
    .back_auth{
        cursor: pointer;
        width: 100px;
        height: 19px;
        margin-left: 16px;
        margin-right: 16px;
        text-align: left;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #111111;
        text-decoration: none;
        // border: solid 0.1px red;
        padding-left: 16px;
        position: relative;
        &::before{
            content: "";
            width: 8px;
            height: 8px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            border:  solid 1px #111111;
            border-width: 3px 0px 0px 3px;
            transform: translate(-50%, -50%) rotate(-45deg);
            position: absolute;
            left: 8%;
            top: 43%;
    }
}
    h3{
    width: 164px;
    height: 19px;
    // margin-left: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #111111;
    // border: solid 0.1px red;
}
}
}


.div_confirm{
    width: 100%;
    // min-height: 100%;
    position: absolute;
    // z-index: 1;
    top: 420px;
    // border: solid 1px red;
}

.form_confirm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    position: relative;
    width: 100%;
    height: 475px;
    left: 0px;
    bottom: 0px;
    background: rgba(248, 248, 254, 0.8);
    backdrop-filter: blur(17px);
    // border: solid 1px red;
    h3{
        width: 282px;
        height: 42px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;
        color: #0D121F;
        position: absolute;
        top: 32px;
    }
    p{
        width: 320px;
        height: 38px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #0D121F;
        opacity: 0.5;
        position: absolute;
        top: 82px;
    }

    .div_pin{
        position: absolute;
        top: 136px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        // border: solid 1px red;

    }

    .submit_btn_pin{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        padding: 20px;
        width: 364px;
        height: 56px;
        background: #FFE400;
        border-radius: 12px;
        flex: none;
        margin-bottom: 16px;
        cursor: pointer;
        position: absolute;
        top: 200px;
        &:hover{
            transform: scale(1.001);
        }
        p{
            width: 127px;
            height: 16px;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            text-transform: uppercase;
            color: #0D121F;
            position:static;
            // border: solid 1px red;
        }  
    }
}
