
.not_support{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #d9d3d3;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 100000000;
    padding-top: 20%;
    h1{
        width: 70vw;
        height: 100%;
        font-size: 2rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: black;
    }
}
