@import '../vars';

*{
    margin: 0;
    padding: 0;
    max-width: 428px;
    box-sizing: border-box;
    @include breakpoint(w414){
        max-width: 414px;
    }
    @include breakpoint(w393){
        max-width: 393px;
    }
    @include breakpoint(w375){
        max-width: 375px;
    }
    @include breakpoint(w360){
        max-width: 360px;
    }
    @include breakpoint(w320){
        max-width: 320px;
    }
}
.korobka_profile{
    width: 100%;
    height: 160vh;
    // height: auto;
    overflow: hidden;
    position: absolute;
    background: #F9F9FF;
    // padding: 16px;
    // border: solid 0.1px red;
    @include breakpoint(w414){
        height: 163vh;
    }
    @include breakpoint(w393){
        height: 163vh;
    }
    @include breakpoint(w375){
        height: 220vh;
    }
    @include breakpoint(w360){
        height: 190vh;
    }
    @include breakpoint(w320){
        height: 255vh;
    }
    .logout{
        display:block;
    }
}
.profile_body{  
    width: 100%;
    position: relative;
    top: 100px;
}



.info_razdely{
    width: 158px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #0D121F;
    opacity: 0.5;
    margin-left: 16px;
    margin-bottom: 12px;
    position: relative;
}



    .info_item1{
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px;
        position: relative;
        width: 91%;
        height: auto;
        margin-left: 4.5%;
        margin-right: 4.5%;
        background: #FFFFFF;
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;
        margin-bottom: 2px;
        justify-content: space-between;
        // border-bottom: solid 0.1px grey;
        }
        .info_item2{
            text-decoration: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 16px;
            position: relative;
            width: 91%;
            height: auto;
            margin-left: 4.5%;
            margin-right: 4.5%;
            background: #FFFFFF;
            // border-top-right-radius: 16px;
            // border-top-left-radius: 16px;
            margin-bottom: 2px;
            justify-content: space-between;
            // border-bottom: solid 0.1px grey;
            }
.info_item3{
                text-decoration: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 16px;
                position: relative;
                width: 91%;
                height: auto;
                margin-left: 4.5%;
                margin-right: 4.5%;
                background: #FFFFFF;
                border-bottom-right-radius: 16px;
                border-bottom-left-radius: 16px;
                margin-bottom: 24px;
                justify-content: space-between;
                // border-bottom: solid 0.1px grey;
                }
        .info_logo{
            margin-right: 8px;
        }
        .arrow{
            width: 10px;
height: 38px;
font-family: 'Font Awesome 6 Pro',sans-serif;
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 14px;
display: flex;
align-items: center;
text-align: center;

/* #0D121F */

color: #0D121F;
        }
        .info_content{
            display: flex;
            flex-direction: column;
            align-items: start;
            // border: solid 1px red;
            width: 100%;
            height: 38px;
            justify-content: space-between;
            h3{
                width: fit-content;
                height: 16px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                color: #0D121F;
            }
            p{
                width: fit-content;
                height: 14px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                color: #0D121F;
                opacity: 0.5;
            }
        }
    




