@import '../vars';

*{
    margin: 0;
    // padding: 0;
    max-width: 428px;
    box-sizing: border-box;
    @include breakpoint(w414){
        max-width: 414px;
    }
    @include breakpoint(w393){
        max-width: 393px;
    }
    @include breakpoint(w375){
        max-width: 375px;
    }
    @include breakpoint(w360){
        max-width: 360px;
    }
    @include breakpoint(w320){
        max-width: 320px;
    }
}
.div_reg_form{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100vw;
    // bottom: -271px;
    height: 671px;
    // border: solid 0.1px red;
    top: calc(100vh - 671px);

}
.h1_{
    margin-bottom: 10px;
    // border: solid 1px red;
}
.div_name {
    width: 100%;
    height: 85px;
    // border: solid 0.1px red;
}
.div_lastname{
    width: 100%;
    height: 85px;
    // border: solid 0.1px red; 
}
.div_mail{
    width: 100%;
    height: 85px;
    // border: solid 0.1px red; 
}
.div_pas{
    width: 100%;
    height: 86px;
    // border: solid 0.1px red; 
}
.div_pas2{
    width: 100%;
    height: 85px;
    margin-bottom: 1px;
    // border: solid 0.1px red; 
}
.err_message{
font-size: 12px;
opacity: 0.8;
margin-left: 50px;
// border: solid 1px red;
}
.regis_form{
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 32px 24px;
    position: absolute;
    height: 671px;  
    // bottom: -50vh;
    // top: 0;
    background: rgba(248, 248, 254, 1);
    border-radius: 24px;
    border: solid 1px rgb(223, 24, 170);
    // border-bottom-left-radius: 24px;
    // border-bottom-right-radius: 24px;
    // background-color: rgb(178, 223, 43);

    h1{
        height: 42px;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 36px;
        line-height: 42.19px;
        color: rgba(13, 18, 31, 1);
        margin-bottom: 8px;
    }
    p{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #0D121F;
        opacity: 0.5;

    }
    h3{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #0D121F;
        margin-bottom: 4px;
    }
    input{
        width: 100%;
        height: 45px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 16px;
        margin-bottom: 0px;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 12px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #0D121F;
        
    }

    .toggle_icon_close1{
        cursor: pointer;
        position:absolute;
        width: 20px;
        height: 16px;
        bottom: 255px;
        left: 82vw;
        background: rgba(255, 255, 255, 1);
        border: none;
        background-image: url(../../public/img/eye_close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        &:hover{
            transform: scale(1.05);
        } 
    }
    .toggle_icon_open1{
        cursor: pointer;
        position: absolute;
        width: 20px;
        height: 16px;
        bottom: 255px;
        left: 82vw;
        background: rgba(255, 255, 255, 1);
        border: none;
        background-image: url(../../public/img/eye_open.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        &:hover{
            transform: scale(1.05);
        }
    }

    .toggle_icon_close2{
        cursor: pointer;
        position: absolute;
        width: 20px;
        height: 16px;
        bottom: 170px;
        left: 82vw;
        background: rgba(255, 255, 255, 1);
        border: none;
        background-image: url(../../public/img/eye_close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        &:hover{
            transform: scale(1.05);
        } 
    }
    .toggle_icon_open2{
        cursor: pointer;
        position: absolute;
        width: 20px;
        height: 16px;
        bottom: 170px;
        left: 82vw;
        background: rgba(255, 255, 255, 1);
        border: none;
        background-image: url(../../public/img/eye_open.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        &:hover{
            transform: scale(1.05);
        }
    }

    .submit_btn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        padding-top: 20px;
        width: 100%;
        height: 56px;
        background: #FFE400;
        border-radius: 12px;
        flex: none;
        margin-bottom: 9px;
        cursor: pointer;
        &:hover{
            transform: scale(1.001);
        }
        p{
            width: 161px;
            height: 16px;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            text-transform: uppercase;
            color: #0D121F;
            // border: solid 1px red;
        }  
    }
 
.div_agree{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 46px;
    padding-top: 8px;
    padding-bottom: 8px;
    // border: solid 0.1px red;
    margin-top: 0;

    .chb_agree{
        cursor: pointer;
        /* remove standard background appearance */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        /* create custom radiobutton appearance */
        display: flex;
        width:0;
        height:0;
        // display: none;
        // border-radius: 0%;
        /* background-color only for content */
        background-clip: content-box;
        border: 2px solid rgba(37, 54, 89, 0.0001);
        &::before{
            content: '✔';
            color: rgb(242, 228, 228);
            font-size: 20px;
            width: 19px;
            height: 19px;
            border-radius: 50%;
            border: 0.1px solid rgba(37, 54, 89, 0.1);
            background: #cacac6; 
            position: absolute;
            left: 35px;
            bottom: 100px;
        }
        &:checked::before{
            content: '✔';
            color: white;
            background: #FFE400; 
            position: absolute;
            width: 20px;
            height: 20px;
           background-size:cover;
            background-position: center;
            font-size: 25px;
            border-radius: 50%;
            left: 35px;
            bottom: 100px;
        }

    }
    .agree_lbl{
        width: 79vw;
        height: 28px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #0D121F;
        margin-left: 10px;
        // border: solid 1px red;
        .ssylka_agree{
            color:#FCE34D;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
        }
    }
}

}