@import '../vars';


*{
    margin: 0;
    padding: 0;
    max-width: 428px;
    // max-height: 932;
    // min-width: 320px;
    box-sizing: border-box;
    @include breakpoint(w414){
        max-width: 414px;
    }
    @include breakpoint(w393){
        max-width: 393px;
    }
    @include breakpoint(w375){
        max-width: 375px;
    }
    @include breakpoint(w360){
        max-width: 360px;
    }
    @include breakpoint(w320){
        max-width: 320px;
    }
}


.block_wallets{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 16px;
    position: relative;
    // top: 84px;
    // border: solid 1px red;
.div_wallet{
    cursor: pointer;
    width: 48%;
    height: 54px;
    display:inline-flex;
    flex-wrap: wrap;
    padding: 8px;
    background: #ffffff;
    border-radius: 16px;
    margin-bottom: 16px;
    box-shadow: -5px 5px 10px rgba(220, 220, 220, 0.2), 
    -5px -5px 10px rgba(255, 255, 255, 0.9), 
    5px 5px 13px rgba(220, 220, 220, 0.4);
    // border: solid 1px red;
    @include breakpoint(w375){

    }
    .div_txt_{
        width: 70%;
        height: 38px;
        display: flex;
        flex-direction: column;
        text-align: left;
        // border: solid 1px red;
        @include breakpoint(w375){
            width: 73%;
        }
        @include breakpoint(w360){
            width: 72%;
        }
        @include breakpoint(w320){
            width: 68%;
        }
        h3{
            width: 100%;
            height: 16px;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #0D121F; 
            margin-bottom: 8px;
        @include breakpoint(w320){
            font-size: 13px;
            margin-bottom: 4px;
        }
        }
        div{
            width: 100%;
            display: inline-flex;
            justify-content: space-between;
            // border: solid 1px red;

            p{
                width: fit-content;
                height: 14px;
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                color: #0D121F;
                opacity: 0.5;
                // border: solid 0.1px blue;
                @include breakpoint(w320){
                    font-size: 10px;
                }
            }
        }
    }
    img{
        width: 35px;
        height: 34px;
        float: right;
        margin-right: 8px;
        @include breakpoint(w375){
            margin-right: 4px;
        }
        @include breakpoint(w360){
            margin-right: 4px;
        }
        @include breakpoint(w320){
            margin-right: 2px;
        }
    }
}
}

