@import '../vars';


*{
    margin: 0;
    padding: 0;
    max-width: 428px;
    box-sizing: border-box;
    @include breakpoint(w414){
        max-width: 414px;
    }
    @include breakpoint(w393){
        max-width: 393px;
    }
    @include breakpoint(w375){
        max-width: 375px;
    }
    @include breakpoint(w360){
        max-width: 360px;
    }
    @include breakpoint(w320){
        max-width: 320px;
    }

}
.container{
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100vh;
    // box-sizing: content-box;
    background-color: #0D121F;
    display: flex;
    // padding-bottom: 386.81px;
    z-index: 10000;
}

.logo{
    margin-top: 40vh;
    margin-left: 35vw;
    position: absolute;
}
.not_support{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
    max-height: 100vh;
    background-color: #bab4b4;
    h1{
        width: 70vw;
        height: 10rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: black;
    }
}




    

