@import '../../vars';

*{
    margin: 0;
    padding: 0;
    max-width: 428px;
    box-sizing: border-box;
    @include breakpoint(w414){
        max-width: 414px;
    }
    @include breakpoint(w393){
        max-width: 393px;
    }
    @include breakpoint(w375){
        max-width: 375px;
    }
    @include breakpoint(w360){
        max-width: 360px;
    }
    @include breakpoint(w320){
        max-width: 320px;
    }
}
.korobka_vyvod{
    width: 100%;
    position: relative;
    background: #F9F9FF;

    .logout{
        display: none;
    }
    .vyvod_body{
        width: 100%;
        position: relative;
        top: 100px;
        padding-bottom: 60px;
    }

}



.div_inp_monety{
    width: 92vw;
    // height: 89px;
    // border: solid 1px red;
    position: relative;
    // top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:16px;
    margin: 16px;
    // border: solid 1px red;
    h1{
        width: 100%;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        color: #111111;
        margin-bottom: 4px;
    }
    p{
        width: 100%;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #111111;
        opacity: 0.5;
        margin-bottom: 16px;
    }
    input{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px;
        gap: 10px;
        height: 48px;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 12px;
        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 0;
    }
    img{
        cursor: pointer;
        width: 16px;
        height: 16px;
        position: absolute;
        right: 25px;
        bottom: 31px;
    }
}
.div_h1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 10px;
    width: 100%;
    height: 32px;  
    background: #F9F9FF;
    box-shadow: inset 0px -1px 0px rgba(49, 49, 49, 0.25);
    h1{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #000000;
        opacity: 0.2;
    }
}


