@import './vars';

*{
    margin: 0;
    max-width: 428px;
    box-sizing: border-box;
    @include breakpoint(w414){
        max-width: 414px;
    }
    @include breakpoint(w393){
        max-width: 393px;
    }
    @include breakpoint(w375){
        max-width: 375px;
    }
    @include breakpoint(w360){
        max-width: 360px;
    }
    @include breakpoint(w320){      
        max-width: 320px;
    }
}
.auth_container{
    width: 100%;
    height: auto;
    position: absolute ;
    // border: solid 0.1px #d00f0f;
    // z-index: 1100;
    img{
        position: relative; 
        width: 100%;
    }
.auth_head{
    width: 100%;
    height: 36px;
    background: rgba(255, 255, 255, 0.01);
    // border: solid 0.1px red;
}
.under_head{
    width: 100%;
    height: 48px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 16px;
    // border: solid 0.1px red;
h3{
    width: 99px;
    height: 19px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #111111;
}
}
}
.div_login_form{
    position: absolute;
    width: 100%;
    height: auto;
    top: calc(100vh - 471px);
    @include breakpoint(w320){
        top: calc(100vh - 444px);
    }
}
.login_form{
    // display: table;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 32px 24px;
    position: absolute;
    width: 100%;
    height: 471px;
    z-index: 0;
    background: #F8F8FE;
    border-radius: 24px;
    // border: solid 0.1px rgb(19, 182, 60);
    @include breakpoint(w320){
        height: 438px;
    }
    .err_message{
        font-size: 12px;
        opacity: 0.8;
        margin-left: 50px;
        // border: solid 1px red;
    }

    .div_email{
        width: 100%;
        height: 86px;
        // border: solid 1px red;
    }
    .div_pass{
        width: 100%;
        height: 86px;
        // border: solid 1px red;
    }

    h1{
        height: 42px;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 36px;
        line-height: 42.19px;
        color: rgba(13, 18, 31, 1);
        margin-bottom: 8px;
        @include breakpoint(w320){
           font-size: 26px;
           margin-bottom: 0px;
        }

    }
    p{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #0D121F;
        opacity: 0.5;
        margin-bottom: 16px;
    }
    h3{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #0D121F;
        margin-bottom: 8px;

    }
    input{
        width: 100%;
        height: 48px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 16px;
        gap: 10px;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 12px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #0D121F;
    }
    .password-icon{
        position: absolute;
        top: 20px;
    }
    .toggle_icon_close{
        cursor: pointer;
        position: absolute;
        width: 20px;
        height: 16px;
        bottom: 215px;
        right: 50px;
        background: rgba(255, 255, 255, 1);
        border: none;
        background-image: url(../public/img/eye_close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        &:hover{
            transform: scale(1.05);
        } 
        @include breakpoint(w360){
            bottom: 195px;
        } 
        @include breakpoint(w320){
            bottom: 170px;
        } 
    }
    .toggle_icon_open{
        cursor: pointer;
        position: absolute;
        width: 20px;
        height: 16px;
        bottom: 215px;
        right: 50px;
        background: rgba(255, 255, 255, 1);
        border: none;
        background-image: url(../public/img/eye_open.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        &:hover{
            transform: scale(1.05);
        }
        @include breakpoint(w360){
            bottom: 195px;
        } 
        @include breakpoint(w320){
            bottom: 170px;
        } 
    }
    .submit_btn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        padding: 20px;
        // gap: 10px;
        width: 100%;
        height: 56px;
        background: #FFE400;
        border-radius: 12px;
        // flex: none;
        // order: 3;
        // align-self: stretch;
        // flex-grow: 0;
        margin-bottom: 16px;
        cursor: pointer;
        @include breakpoint(w360){
            margin-top: 16px;  
        }
        @include breakpoint(w320){
            height: 45px;
            padding: 13px;
            margin-top: 5px;  
         }
        &:hover{
            transform: scale(1.001);
        }
        p{
            width: 127px;
            height: 16px;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            text-transform: uppercase;
            color: #0D121F;
            // border: solid 1px red;
        }  
    }
    .open_forgot{
        cursor: pointer;
        height: 19px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        text-decoration-line: underline;
        color: #000000;
        // margin-bottom: 16px;
        // border: solid 1px red;
    }
}
.div_no_acc_reg{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    justify-content: space-between;
    // padding: 16px 0px;
    width: 100%;
    height: 51px;
    position: relative;
    // border: solid 1px  red;
    margin-top: 16px;
    @include breakpoint(w360){
        flex-direction: column;
        margin-top: 8px;
        height: 31px;
    }
    @include breakpoint(w320){
        margin-top: 8px;
        height: 31px;
        flex-direction: column;
    }
h5{
    width: 166px;
    height: 19px;
    z-index: 0;
    // border: solid 1px    red;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    margin-bottom: 0;
    @include breakpoint(w360){
    text-align: center;
    margin-bottom: 5px;
    margin-bottom: 0px;
    }
    @include breakpoint(w320){
        margin-bottom: 0px;
        font-size: 12px;
        text-align: center;
    }
} 
    .link-reg{
        z-index: 0;
        cursor: pointer;
        width: 182px;
        height: 19px;
        // border: solid 1px red;
        h6 {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-decoration-line: underline;
            color: #000000;
            text-transform: uppercase;
            @include breakpoint(w320){
                // margin-bottom: 0px;
                font-size: 14px;
                text-align: center;
            }
        }

    }

}

.div_modal{
    width: 100%;
    min-height: 100%;
    position: absolute;
    // z-index: 1;
}

.back_blur{
    width: 100%;
    min-height: 100vh;
    background: rgba(152, 148, 148, 0.3);
    background-size:contain;
    backdrop-filter: blur(3px);
    -webkit-filter: blur(3px);
    filter: blur(3px);
    left: 0;
    bottom: 0;
    top: 0;
    position: fixed;
    z-index: 30000000;
    // border: solid 1px red;
}
.form_forgot_pass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 90vw;
    height: 464px;
    z-index: 300000000;
    left: 5%;
    top: 10vh;
    background: #ffffff;
    border-radius: 24px;
    padding: 24px;
    // border: solid 1px red;
    .img_{
        width: calc(100vw - 41%);
        // height: 190px;
        // border: solid 1px red;
        position: absolute;
        top: 24px;
        left: 53px;
        margin-bottom: 16px;
    }
    h3{
        width: 75vw;
        height: 28px;
        font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #0D121F;
        position: absolute;
        top: 230px;
    }
    p{
        width: 75vw;
        height: 38px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #0D121F;
        opacity: 0.5;
        position: absolute;
        top: 266px;
    }

    .div_email_forgot{
        width: calc(100vw - 25%);
        height: 64px;
        position: absolute;
        top: 320px;
        // border: solid 1px red;
        input{
            width: 100%;
            height: 48px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 16px;
            gap: 10px;
            background: #FFFFFF;
            border: 1px solid #CCCCCC;
            border-radius: 12px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #0D121F;
            position: absolute;
        }
        .err_message{
            font-size: 12px;
            opacity: 0.8;
            top: 45px;
            position: relative;
            // border: solid 1px red;
        }
    }

    .submit_btn_forgot{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        padding: 20px;
        width: calc(100vw - 25%);
        height: 56px;
        background: #FFE400;
        border-radius: 12px;
        flex: none;
        margin-bottom: 16px;
        cursor: pointer;
        position: absolute;
        top: 384px;
        &:hover{
            transform: scale(1.001);
        }
        p{
            width: 127px;
            height: 16px;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            text-transform: uppercase;
            color: #0D121F;
            position:static;
            // border: solid 1px red;
        }  
    }

}