@import './vars';

*{
    margin: 0;
    padding: 0;
    max-width: 428px;
    box-sizing: border-box;
    @include breakpoint(w414){
        max-width: 414px;
    }
    @include breakpoint(w393){
        max-width: 393px;
    }
    @include breakpoint(w375){
        max-width: 375px;
    }
    @include breakpoint(w360){
        max-width: 360px;
    }
    @include breakpoint(w320){
        max-width: 320px;
    }
}

.main_container{
    width: 100%;
    min-height: 100vh;
    // height: 350px;
    background: #0D121F;
    // border: solid 1px red;
    // white-space: nowrap;
    overflow: hidden;
    // padding-bottom: 20px;
}

