@import './vars';

*{
    margin: 0;
    padding: 0;
    max-width: 428px;
    box-sizing: border-box;
    @include breakpoint(w414){
        max-width: 414px;
    }
    @include breakpoint(w393){
        max-width: 393px;
    }
    @include breakpoint(w375){
        max-width: 375px;
    }
    @include breakpoint(w360){
        max-width: 360px;
    }
    @include breakpoint(w320){
        max-width: 320px;
    }
}

.main_container{
    width: 100%;
    // min-height: 100vh;
    // height: 350px;
    background: #0D121F;
    // border: solid 1px red;
    // white-space: nowrap;
    overflow: hidden;
    // padding-bottom: 20px;
}

.div_footer{
    width: 92.6%;
    height: 58px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    bottom: 10px;
    position: fixed;
    background: linear-gradient(135deg, #FFFFFF 0%, #F2F2F2 100%), #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.18);
    border-radius: 1000px;
    margin-left: 3.7%;
    margin-right: 3.7%;
    z-index: 1000;
    .div_footer_btns{
        width: 100%;
        display:inline-flex;
        position: absolute;
        justify-content: space-between;
        // border: solid 1px red;
        padding: 12px;

    }

    .link_foot {
        cursor: pointer;
        width: max-content;
        height: 34px;
        align-items: center;
        border-radius: 1000px;
        position: relative;
        display: inline-flex;
        text-align: center;
        justify-content: center;
        text-decoration: none;
                img{
                    width: 18px;
                    height: 16px;
                    margin-left: 4px;
                    margin-right: 0;
                    z-index: 1000;
        }
        p{
                margin-left: 4px;
                font-family: 'Source Sans Pro', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 0px;
                line-height: 18px;
                position: absolute;
        }

        &:active {
            background: linear-gradient(0deg, #FFE400, #FFE400), linear-gradient(180deg, #7D96E9 0%, #3D59B7 100%), #3B5FD7;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            color: #0D121F;
            width: 97px;
            cursor: pointer;
            p{
                // border: solid 1px red;
                margin-left: 4px;
                font-family: 'Source Sans Pro', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                position: relative;
                z-index: 1000;
            }
        }
    }
    
}