@import './vars';

*{
    margin: 0;
    padding: 0;
    max-width: 428px;
    // max-height: 932;
    box-sizing: border-box;
    @include breakpoint(w414){
        max-width: 414px;
    }
    @include breakpoint(w393){
        max-width: 393px;
    }
    @include breakpoint(w375){
        max-width: 375px;
    }
    @include breakpoint(w360){
        max-width: 360px;
    }
    @include breakpoint(w320){
        max-width: 320px;
    }
}
.news_container{
    margin-top: auto;
    width: 100%;
    // min-height: 100%;
    // height: 926px;
    position: absolute;
    background: #F9F9FF;
    // border: solid 0.1px red;
.news_head{
    width: 100%;
    height: 36x;
    background: rgba(255, 255, 255, 1);
    // position: fixed;
    padding-top: 36px;
    // border: solid 0.1px red;
//     background: rgba(255, 255, 255, 1);
// box-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
}
.under_head{
    width: 100%;
    height: 48px;
    text-align: center;
    justify-content: start;
    // flex-direction: column;
    // align-items: start;
    padding-top: 16px;
    // position: fixed;
    background: rgba(255, 255, 255, 1);
    // border: solid 0.1px red;
    .back_main{
        cursor: pointer;
        width: 100px;
        height: 19px;
        margin-left: 16px;
        margin-right: 16px;
        text-align: left;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #111111;
        text-decoration: none;
        // border: solid 0.1px red;
        padding-left: 16px;
        position: relative;
        &::before{
            content: "";
            width: 8px;
            height: 8px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            border:  solid 1px #111111;
            border-width: 3px 0px 0px 3px;
            transform: translate(-50%, -50%) rotate(-45deg);
            position: absolute;
            left: 8%;
            top: 43%;
    }
}
h3{
    width: 164px;
    height: 19px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #111111;
    // border: solid 0.1px red;
    @include breakpoint(w320){
        text-align: center;
     }
    @include breakpoint(w360){
       text-align: center;
    }
}

}



.div_news{
    width: 100%;
    // min-height: 100%;
    padding: 16px;
    overflow: hidden;
    // margin-top: 36px;
    .div_new{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        width: 100%;
        // height: 205px;
        background: #FFFFFF;
        box-shadow: -5px 5px 10px rgba(220, 220, 220, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(220, 220, 220, 0.4);
        border-radius: 16px;
        // border: solid 1px red;
        overflow: hidden;
        margin-bottom: 16px;
        p{
            display: none;
        }
    }
}
}