@import './vars';
$wh_: calc(428px/926px);
$w_: 428px;
$h_: 926px;

*{
    margin: 0;
    padding: 0;
    max-width: 428px;
    // max-height: 932px;
    box-sizing: border-box;
    @include breakpoint(w414){
        max-width: 414px;
    }
    @include breakpoint(w393){
        max-width: 393px;
    }
    @include breakpoint(w375){
        max-width: 375px;
    }
    @include breakpoint(w360){
        max-width: 360px;
    }
    @include breakpoint(w320){
        max-width: 320px;
    }
}
.div_popolnenie{
    margin-top: auto;
    width: 100%;
    min-height: 100%;
    // height: 926px;
    position: absolute ;
    background: #F9F9FF;
    // border: solid 0.1px red;
}
