*{
    margin: 0;
    padding: 0;
    max-width: 430px;
    max-height: 932;
    box-sizing: border-box;
}
.div_popolnenie{
    margin-top: auto;
    width: 100%;
    min-height: 100%;
    // height: 926px;
    position: absolute ;
    background: #F9F9FF;
    // border: solid 0.1px red;
}
